@import url(./__link/feynman__link.css);
@import url(./__main-illustration/feynman__main-illustration.css);
@import url(./__subtitle/feynman__subtitle.css);
@import url(./__title/feynman__title.css);

.feynman {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 100px;
  min-height: 790px;
  background-color: #f2f2f2;
}
